:root {
  --red: #EF3340;
  --blue: #0033A0;
  --neutral: #fff;
  --text: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--text);
}

header, footer {
  background-color: var(--blue);
  color: var(--neutral);
  padding: 1rem;
  text-align: center;
}

.hero {
  position: relative;
  width: 100%;        /* full width of screen */
}

.hero img{
  max-width: 100%;
  height: auto;
}

.card {
  position: absolute;
  background-color: rgba(5, 64, 71, 0.85); /* semi-transparent blue */
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
}

/* Positioning */
.data {
  top: 20px;
  right: 20px;
}

.weather {
  bottom: 20px;
  left: 20px;
}

.weather-icon {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-left: 8px;
  fill: var(--neutral);
}

.data, .weather {
  padding: 1rem;
}

@media (min-width: 768px) {
  main {
    display: block;
    gap: 2rem;
  }
  .data h2::after {
  content: " 📊";
  margin-left: 8px;
  }

}
